<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="full" (click)="ingresar()">Iniciar Sesion</ion-button>
      </ion-item>
      <ion-item>
        <ion-text><a [routerLink]="['/recuperar']">¿Ha olvidado su contraseña?</a></ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer></ion-footer>